            <div class="content-page">
            	<!-- Start content -->
            	<div class="content">

            		<div class="">
            			<div class="page-header-title">
            				
            			</div>
            		</div>

            		<div class="page-content-wrapper ">
            			<div class="container">
            				<div class="row">
            					<div class="col-md-12">
            						<div class="panel panel-primary">
            							<div class="panel-body">
            								<h4 class="m-b-30 m-t-0">Confirmar Pedido</h4>
            								<div class="alert alert-success"><i class="fa fa-check"></i>
            									Datos Guardados. El pedido ha sido ingresado exitosamente 
            								</div>
            								
            								<div class="progress">
            									<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            										<span class="sr-only">60% Complete</span>
            									</div>
            								</div>
            								
            								<h5 class="m-b-30 m-t-0">Paso 2 de 2. El pedido está listo para ser confirmado. "Confirmar Pedido" para finalizar el proceso.</h5>
            								
            								
            							</div>
            							<div class="row">
            								<div class="col-md-12 col-sm-12 col-xs-12">
            								</div>
            							</div>
            						</div>
            					</div> <!-- End Row -->
            				</div><!-- container -->
            			</div> <!-- Page content Wrapper -->
            		</div> <!-- content -->

            		
            		<div class="content">
            			<div class="page-content-wrapper ">
            				<div class="container">
            					<div class="row">
            						<div class="col-md-6">
            							<div class="panel panel-primary">
            								<div class="panel-body">
            									<h4 class="m-b-30 m-t-0">Informacion Cliente</h4>

            									<div class="row">
            										<div class="col-xs-12">
            											<table class="table table-bordered">
            												
            												<tbody>
            													<tr>
            														<td>Nombre</td>
            														<td>Juan Perez</td>
            													</tr>
            													<tr>
            														<td>Correo</td>
            														<td>ricardo.carrasco.p@gmail.com</td>
            													</tr>
            													<tr>
            														<td>Sucursal</td>
            														<td colspan="2">SANTA ISABEL</td>
            													</tr>
            												</tbody>
            											</table>
            										</div>
            									</div>
            								</div>
            							</div>
            						</div>
            						<div class="col-md-6">
            							<div class="panel panel-primary">
            								<div class="panel-body">
            									<h4 class="m-b-30 m-t-0">Información Pedido</h4>
            									<div class="row">
            										<div class="col-xs-12">
            											<table class="table table-bordered">
            												
            												<tbody>
            													<tr>
            														<td>Nº</td>
            														<td>3135</td>
            													</tr>
            													<tr>
            														<td>Fecha</td>
            														<td>30-01-2017</td>
            													</tr>
            													<tr>
            														<td>Estado</td>
            														<td colspan="2">PENDIENTE</td>
            													</tr>
            													<tr>
            														<td>Observaciones</td>
            														<td></td>
            													</tr>
            													<tr>
            														<td>Método de despacho</td>
            														<td>Luniben</td>
            													</tr>
            												</tbody>
            											</table>
            										</div>
            									</div>
            								</div>
            							</div>
            						</div>
            					</div> <!-- End Row -->


            					<div class="row">
            						<div class="col-md-12">
            							<div class="panel panel-primary">
            								<div class="panel-body">
            									<h4 class="m-b-30 m-t-0">Productos</h4>
            									<button type="button" class="btn btn-primary waves-effect waves-light"><i class="fa fa-pencil"></i> Agregar Productos</button>
            									<div class="clr" style="height:20px;"></div>
            									<div class="row">
            										<div class="col-xs-12">
            											<div class="table-responsive">
            												<table class="table">
            													<thead>
            														<tr>
            															<th>Nombre Producto</th>
            															<th>Precio</th>
            															<th>Cantidad</th>
            															<th>Total</th>
            														</tr>
            													</thead>
            													<tbody>
            														<tr>
            															<td>Aceite de Sesamo (Lata 1,65 Lts)</td>
            															<td>$ 10.050</td>
            															<td>2</td>
            															<td>$20.100</td>
            														</tr>
            														<tr>
            															<td>xxxxxx</td>
            															<td>xxxxxx</td>
            															<td>xxxxxx</td>
            															<td>xxxxxx</td>
            														</tr>
            														<tr>
            															<td>xxxxxx</td>
            															<td>xxxxxx</td>
            															<td>xxxxxx</td>
            															<td>xxxxxx</td>
            														</tr>
            														<tr>
            															<td>xxxxxx</td>
            															<td>xxxxxx</td>
            															<td>xxxxxx</td>
            															<td>xxxxxx</td>
            														</tr>
            														<tr>
            															<th>Total</th>
            															<td>xxxxxx</td>
            															<td>xxxxxx</td>
            															<td>xxxxxx</td>
            														</tr>
            														<tr>
            															<th>Despacho</th>
            															<td>xxxxxx</td>
            															<td>xxxxxx</td>
            															<td>xxxxxx</td>
            														</tr>
            														<tr>
            															<th>Valor Neto</th>
            															<td>xxxxxx</td>
            															<td>xxxxxx</td>
            															<td>xxxxxx</td>
            														</tr>
            														<tr>
            															<th>IVA</th>
            															<td>xxxxxx</td>
            															<td>xxxxxx</td>
            															<td>xxxxxx</td>
            														</tr>
            														<tr>
            															<th>Valor + IVA</th>
            															<td>xxxxxx</td>
            															<td>xxxxxx</td>
            															<td>xxxxxx</td>
            														</tr>

            													</tbody>
            												</table>
            											</div>
            										</div>
            									</div>
            								</div>
            							</div>
            						</div>
            					</div>
            					
            				</div><!-- container -->

            			</div> <!-- Page content Wrapper -->

            		</div>
            		
            		
            		
            		<footer class="footer">
            			Macan® info@macanltda.cl&nbsp;&nbsp;&nbsp;(56 2) 2345 0501 / 2345 0502
            		</footer>

            	</div>