 <!-- Begin page -->
        <div id="wrapper">

            <!-- Top Bar Start -->
            <div class="topbar">
                <!-- LOGO -->
                <div class="topbar-left">
                    <div class="text-center">
                        <img class="logo" src="assets/images/macanltda.png" width="113" >
                    </div>
                </div>
                <!-- Button mobile view to collapse sidebar menu -->
                <div class="navbar navbar-default" role="navigation">
                    <div class="container">
                        <div class="">
                            <div class="pull-left">
                                <button type="button" class="button-menu-mobile open-left waves-effect waves-light">
                                    <i class="ion-navicon"></i>
                                </button>
                                <span class="clearfix"></span>
                            </div>
                            <form class="navbar-form pull-left" role="search">
                                <div class="form-group">
                                    <input type="text" class="form-control search-bar" placeholder="Search...">
                                </div>
                                <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
                            </form>

                            <ul class="nav navbar-nav navbar-right pull-right">
                                <li class="dropdown hidden-xs">
                                    <a href="#" data-target="#" class="dropdown-toggle waves-effect waves-light notification-icon-box" data-toggle="dropdown" aria-expanded="true">
                                        <i class="fa fa-bell"></i> <span class="badge badge-xs badge-danger"></span>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-lg">
                                        <li class="text-center notifi-title">Notificaciones <span class="badge badge-xs badge-success">3</span></li>
                                        <li class="list-group">
                                            <!-- list item-->
                                            <a href="javascript:void(0);" class="list-group-item">
                                                <div class="media">
                                                    <div class="media-heading">Tu orden se realizó con éxito</div>
                                                    <p class="m-0">
                                                        <small>Dummy text of the printing and typesetting industry.</small>
                                                    </p>
                                                </div>
                                            </a>
                                            <!-- list item-->
                                            <a href="javascript:void(0);" class="list-group-item">
                                                <div class="media">
                                                    <div class="media-body clearfix">
                                                        <div class="media-heading">Nuevo mensaje recibido</div>
                                                        <p class="m-0">
                                                            <small>Tienes 1 mensaje sin leer</small>
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- list item-->
                                            <a href="javascript:void(0);" class="list-group-item">
                                                <div class="media">
                                                    <div class="media-body clearfix">
                                                        <div class="media-heading">Tu producto ha sido enviado.</div>
                                                        <p class="m-0">
                                                            <small>It is a long established fact that a reader will</small>
                                                        </p>
                                                    </div>
                                                </div>
                                            </a>
                                            <!-- last list item -->
                                            <a href="javascript:void(0);" class="list-group-item">
                                                <small class="text-primary">Ver todas las notificaciones</small>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="hidden-xs">
                                    <a href="#" id="btn-fullscreen" class="waves-effect waves-light notification-icon-box"><i class="mdi mdi-fullscreen"></i></a>
                                </li>
                                <li class="dropdown">
                                    <a href="" class="dropdown-toggle profile waves-effect waves-light" data-toggle="dropdown" aria-expanded="true">
                                        <span class="profile-username">
                                                    Ricardo Carrasco <br/>
                                        </span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="javascript:void(0)"> Profile</a></li>
                                        <li><a href="javascript:void(0)"><span class="badge badge-success pull-right">5</span> Settings </a></li>
                                        <li><a href="javascript:void(0)"> Lock screen</a></li>
                                        <li class="divider"></li>
                                        <li><a href="javascript:void(0)"> Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            <!-- Top Bar End -->


            <!-- ========== Left Sidebar Start ========== -->

            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft">

                    <div class="user-details avatar">
                        <div class="user-info">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Ricardo Carrasco</a>
                                <ul class="dropdown-menu">
                                    <li><a href="javascript:void(0)"> Logout</a></li>
                                </ul>
                            </div>

                            <p class="text-muted m-0"><i class="fa fa-dot-circle-o text-success"></i> Online</p>
                        </div>
                    </div>
                    <!--- Divider -->


                    <div id="sidebar-menu">
                        <ul>
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-pencil"></i> <span> Pedidos </span> <span class="pull-right"><i class="mdi mdi-plus"></i></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="ui-buttons.html">Realizar Nuevo Pedido</a></li>
                                    <li><a href="ui-panels.html">Listado de Pedidos</a></li></ul>
                            </li>

                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-account"></i> <span> Mi Cuenta </span> <span class="pull-right"><i class="mdi mdi-plus"></i></span></a>
                                <ul class="list-unstyled">
                                    <li><a href="icons-material.html">Mis Datos</a></li>
                                    <li><a href="icons-ion.html">Sucursales</a></li>
                                    <li><a href="icons-fontawesome.html">Agregar Sucursal</a></li>
                                </ul>
                            </li>
                            
                            <!--<li class="has_sub">-->
                            <!--<a href="javascript:void(0);" class="waves-effect"><i class="mdi mdi-share-variant"></i><span>Multi Menu </span><span class="pull-right"><i class="mdi mdi-plus"></i></span></a>-->
                            <!--<ul>-->
                            <!--<li class="has_sub">-->
                            <!--<a href="javascript:void(0);" class="waves-effect"><span>Menu Item 1.1</span> <span class="pull-right"><i class="mdi mdi-plus"></i></span></a>-->
                            <!--<ul style="">-->
                            <!--<li><a href="javascript:void(0);"><span>Menu Item 2.1</span></a></li>-->
                            <!--<li><a href="javascript:void(0);"><span>Menu Item 2.2</span></a></li>-->
                            <!--</ul>-->
                            <!--</li>-->
                            <!--<li>-->
                            <!--<a href="javascript:void(0);"><span>Menu Item 1.2</span></a>-->
                            <!--</li>-->
                            <!--</ul>-->
                            <!--</li>-->
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div> <!-- end sidebarinner -->
            </div>
            <!-- Left Sidebar End -->

            <!-- Start right Content here -->

            <div class="content-page">
                <!-- Start content -->
                <div class="content">

                    <div class="">
                        <div class="page-header-title">
                            
                        </div>
                    </div>

                    <div class="page-content-wrapper ">

                        <div class="container">
                           
                            <div class="row">
                               
                                <div class="col-md-12">
                                   
                                    <div class="panel panel-primary">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="panel panel-primary">
                                                    <div class="panel-body">
                                                        <h4 class="m-t-0 m-b-30">Datos del Perfil</h4>

                                                        <form class="form-horizontal" role="form">
                                                            <div class="form-group">
                                                                <label class="col-md-2 control-label">Nombre*</label>
                                                                <div class="col-md-10">
                                                                <input type="text" class="form-control" value="">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-2 control-label" for="example-email">Apellido*</label>
                                                            <div class="col-md-10">
                                                                <input type="email" id="example-email" name="example-email" class="form-control" placeholder="">
                                                            </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-2 control-label">Email*</label>
                                                                <div class="col-md-10">
                                                                    <input type="email" class="form-control" value="">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-2 control-label">Teléfono*</label>
                                                                <div class="col-md-10">
                                                                <input type="tel" class="form-control" value="">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-2 control-label">Celular*</label>
                                                                <div class="col-md-10">
                                                                <input type="text" class="form-control" value="">
                                                                </div>
                                                            </div>
                                                            <button type="button" class="btn btn-primary waves-effect waves-light boton">Actualizar Datos</button>
                                                        </form>
                                                        <div class="clr" style="height:40px;"></div>
                                                        <h4 class="m-t-0 m-b-30">Cambiar Clave</h4>
                                                        <form class="form-horizontal" role="form">
                                                            <div class="form-group">
                                                                <label class="col-md-2 control-label">Clave Actual*</label>
                                                                <div class="col-md-10">
                                                                <input type="password" class="form-control" value="">
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-2 control-label" for="example-email">Clave Nueva*</label>
                                                            <div class="col-md-10">
                                                                <input type="password" id="example-email" name="example-email" class="form-control" placeholder="">
                                                            </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-md-2 control-label">Confirmar Clave Nueva*</label>
                                                                <div class="col-md-10">
                                                                    <input type="password" class="form-control" value="">
                                                                </div>
                                                            </div>
                                                            <button type="button" class="btn btn-primary waves-effect waves-light boton">Cambiar Clave</button>
                                                        </form>
                                                </div> <!-- panel-body -->
                                            </div> <!-- panel -->
                                        </div> <!-- col -->
                                    </div>
                               
                               
                               
                               
                               
                               
                               
                               
                               
                               
                               
                               
                               
                               
                               
                               

                            </div>
                                        
                                        
                                    </div>
                                     <!-- End Row -->
                                    
                                </div>
                                <!-- container -->
                            </div> <!-- Page content Wrapper -->

                        </div> <!-- content -->

                <footer class="footer">
                    Macan® info@macanltda.cl&nbsp;&nbsp;&nbsp;(56 2) 2345 0501 / 2345 0502
                </footer>

            </div>
            <!-- End Right content here -->

        </div>
        <!-- END wrapper -->


       dfsd