            <div class="content-page">
                <!-- Start content -->
                <div class="content">

                    <div class="">
                        <div class="page-header-title">
                            
                        </div>
                    </div>

                    <div class="page-content-wrapper ">

                        <div class="container">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-primary">
                                        <div class="panel-body">
                                            <h4 class="m-b-30 m-t-0">Sucursales <span class="cantidad-titulo">4</span></h4>
                                            
                                            <button type="button" class="btn btn-primary waves-effect waves-light"><i class="fa fa-pencil"></i> AGREGAR PRODUCTOS</button>
                                             <div class="clr" style="height:20px;"></div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <table id="datatable" class="table table-striped table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th>Sucursal</th>
                                                            <th>Dirección</th>
                                                            <th>Administrador</th>
                                                            <th>Teléfono</th>
                                                            <th>Celular</th>
                                                            <th>Región</th>
                                                            <th>Comuna</th>
                                                            <th>Acciones</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        
                                                <tr *ngFor="let sucursal of sucursales.sucursales">
                                                    <td>{{sucursal.iddatos_sucursales}}</td>
                                                    <td>{{sucursal.nombre_direccion}}</td>
                                                    <td>{{sucursal.nombre_administrador}}</td>
                                                    <td>{{sucursal.telefono}}</td>
                                                    <td>{{sucursal.celular}}</td>
                                                    <td>{{sucursal.region.nombre_region}}</td>
                                                    <td>{{sucursal.comuna.nombre_comuna}}</td>
                                                    <td><div class="alinear-derecha margen"><button type="button" class="btn waves-effect btn-default"> <i class="fa fa-trash"></i> </button></div>
                                                    <div class="alinear-derecha margen"><button type="button" class="btn waves-effect btn-default"> <i class="fa fa-pencil"></i> </button></div></td>
                                                </tr>
                                              
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>
                                </div>

                            </div> <!-- End Row -->



                        </div><!-- container -->

                    </div> <!-- Page content Wrapper -->

                </div> <!-- content -->

                <footer class="footer">
                    Macan® info@macanltda.cl&nbsp;&nbsp;&nbsp;(56 2) 2345 0501 / 2345 0502
                </footer>

            </div>